<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['punto1']" target="_blank">Pagina 1</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" [routerLink]="['punto2a']">Pagina a</a>
                <a class="nav-link" [routerLink]="['punto2b']">Pagina b</a>
                <a class="nav-link" [routerLink]="['punto2c']">Pagina c</a>
            </div>
        </div>
    </div>
</nav>
