<section>
        <div class="row">
            <div class="col-md-8 g-3">
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="card">
                            <img src="assets/image/avengers.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Los Vengadorees</h5>
                                <p class="card-text">Después de los eventos devastadores de "Avengers: Infinity War", 
                                  el universo está en ruinas debido a las acciones de Thanos. 
                                  Con la ayuda de los aliados que quedaron, los Vengadores deberán reunirse una vez más para 
                                  intentar detenerlo.</p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text"><small class="text-muted">Abril 26, 2019</small></p>
                             </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 offset-md-1">
                        <div class="card">
                            <img src="assets/image/thor_ragnarok.jpg" class="card-img-top">
                            <div class="card-body">
                              <h5 class="card-title">Thor Ragnarok</h5>
                                <p class="card-text">Thor está preso en el otro extremo del universo. Necesita regresar a tiempo 
                                  para evitar que Hela destruya su mundo, pero para escapar de su confinamiento 
                                  y evitar el apocalipsis tendrá que vencer antes al increíble Hulk en un torneo de gladiadores.
                                </p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text"><small class="text-muted">Nov. 3, 2017</small></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 offset-md-1">
                        <div class="card ">
                            <img src="assets/image/pantera_negra.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Black Panter</h5>
                              <p class="card-text">T'Challa, hijo del fallecido rey T'Chaka, asciende al trono de Wakanda y se
                                  convierte en Pantera Negra, pero descubre que reinar su nación será un desafío para él, ya
                                  que no solo debe gobernar y proteger su país, sino también derrotar a un viejo enemigo.</p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text"><small class="text-muted">Feb. 15, 2018</small></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">  
                        <div class="card">
                            <img src="assets/image/spider_man.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Spider-Man: No way home</h5>
                              <p class="card-text">Tras descubrirse la identidad secreta de Peter Parker como Spider-Man,
                                   la vida del joven se vuelve una locura. Peter decide pedirle ayuda al Doctor Extraño para 
                                   recuperar su vida. Pero algo sale mal y provoca una fractura en el multiverso.</p>
                              
                            </div>
                            <div class="card-footer">
                                <p class="card-text"><small class="text-muted">Abril 26, 2019</small></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 offset-md-1">
                        <div class="card">
                            <img src="assets/image/coco.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Coco</h5>
                                <p class="card-text">Miguel es un niño que sueña con ser músico, pero su familia se lo prohíbe porque su 
                                        tatarabuelo, músico, los abandonó. Por accidente, Miguel entra en la Tierra de los Muertos, de donde sólo 
                                        podrá salir si un familiar difunto le concede su bendición, pero su tatarabuela se niega
                                        si no promete que no será músico.
                                </p>
                            </div>

                            <div class="card-footer">
                                <p class="card-text"><small class="text-muted">Nov. 22, 2017</small></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 offset-md-1">
                        <div class="card">
                            <img src="assets/image/avengers.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Iron Man 3</h5>
                              <p class="card-text">El descarado y brillante Tony Stark, tras ver destruido todo su universo 
                                  personal, debe encontrar y enfrentarse a un enemigo cuyo poder no conoce límites. 
                                  Este viaje pondrá a prueba su entereza una y otra vez, y le obligará a confiar en su 
                                  ingenio.</p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text"><small class="text-muted">Abril 25, 2013</small></p>
                            </div>
                        </div>
                    </div>
                    
                </div>          
            </div>

            <div class="col-md-4 g-3">
                <div class="anuncio">
                    <img src="assets/image/anuncio.png" alt="">
                </div>

                <div class="anuncio">
                    <img src="assets/image/anuncio.png" alt="">
                </div>
            </div>
            
        </div>
</section>
