<div class="container-fluid">
    <div class="row contenido">

        <div class="col-md-8 bg-gradient d-none d-md-block">
            <div class="table-responsive">
                
                <h3 class="text-center bg-info cabecera_t">Conversion de divisas</h3>
                
                <table class="table">
                   <thead>
                       <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">
                                <img src="assets/iconos/arg.jpg" class="icon"><br>
                                ARS
                            </th>
                            <th scope="col">
                                <img src="assets/iconos/btc.jpg" class="icon"><br>
                                BTC</th>
                            <th scope="col">
                                
                                <img src="assets/iconos/eur.jpg" class="icon"><br>
                                EUR
                            </th>
                            <th scope="col">
                                <img src="assets/iconos/usd.jpg" class="icon"><br>
                                USD
                            </th>
                       </tr>
                   </thead>
                   <tbody>
    
                       <tr>
                            <th scope="row">
                                <img src="assets/iconos/usd.jpg" class="icon"><br>
                            </th>
                           <th>
                                1 USD <br>Inverse
                           </th>
                            <td>64.87725 <br> 0.015414</td>
                            <td>0.000140 <br> 7148.757</td>
                            <td>0.919901 <br> 1.087074</td>
                            <td>1.000000 <br> 1.000000</td>
                       </tr>
    
                       <tr>
                            <th scope="row">
                                <img src="assets/iconos/eur.jpg" class="icon"><br>
                            </th>
                            <th>1 EUR <br>Inverse</th>
                            <td>70.52637 <br> 0.014179</td>
                            <td>0.000152 <br> 6576.146</td>
                            <td>1.000000 <br> 1.000000</td>
                            <td>1.087074 <br> 0.919901</td>
                        </tr>
    
                        <tr>
                            <th scope="row">
                                <img src="assets/iconos/gbp.jpg" class="icon"><br>
                            </th>
                            <th>1 GBP <br>Inverse</th>
                            <td>79.95034 <br> 0.012508</td>
                            <td>0.000172 <br> 5800.997</td>
                            <td>1.133623 <br> 0.882127</td>
                            <td>1.232332 <br> 0.811469</td>
                        </tr>
    
                        <tr>
                            <th scope="row">
                                <img src="assets/iconos/rub.jpg" class="icon"><br>
                            </th>
                            <th>1 RUB <br>Inverse</th>
                            <td>0.858036 <br> 1.165452 </td>
                            <td>0.000002 <br> 540527.1 </td>
                            <td>0.012166 <br> 82.19511 </td>
                            <td>0.013266 <br> 75.61134 </td>
                        </tr>
    
                   </tbody>
                </table>
                    <br>
            </div>
        </div>
    
        <div class="col-md-4 formulario">
    
            <div class="row">
                
                <div class="col-12 cabecera">
                    <h4 class="text-center">Conversion De Divisas</h4>
                </div>
    
                <div class="col-md-12 g-3 cuerpo">
    
                        <h5>Cantidad</h5>
    
                        <input type="number" placeholder="Cantidad" class="text-end col-12 mb-2">
    
                        <h5>De</h5>
    
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected>Elija moneda</option>
                            <option value="ARS">ARS</option>
                            <option value="BTS">BTS</option>
                            <option value="EUR">EUR</option>
                            <option value="USD">USD</option>
                        </select>
    
                        <h5>A</h5>
    
                        <select class="form-select form-select-lg mb-3" >
                            <option selected>Elija moneda</option>
                            <option value="ARS">ARS Pesos Argentinos</option>
                            <option value="BTS">BTS Bitcoins</option>
                            <option value="EUR">EUR Euros</option>
                            <option value="USD">USD Dolar Estado Unidense</option>
                        </select>
    
                        <input type="number" class="text-end col-12 ">
    
                        <div>
                            <button class="btn btn-warning btn-sm col-12 btn_conv" type="button">
                                <span>Convertir</span>
                                <i class="bi bi-arrow-right icono_cont"></i>
                            </button>
                        </div>
                       
                </div>
                
            </div>
             
        </div>
        
    </div>
</div>
